<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}" lang="">
    <head>
        <title>[[#{order.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{order.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/orders}" class="btn btn-secondary">[[#{order.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('order')}"></div>
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='order', field='id', disabled=true, type='number')}"></div>
                <div th:replace="~{fragments/forms::inputRow(object='order', field='processed', type='checkbox')}"></div>
                <div th:replace="~{fragments/forms::inputRow(object='order', field='user', type='select')}"></div>
                <input type="submit" th:value="#{order.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
